#login_form {
  margin-top: 50px;
}
#login_form .page-title {
  font-size: 22px;
  font-family: sans-serif;
  color: #2c3e50;
}
#login_form .form-section {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#login_form .form-section span form .section {
  margin-bottom: 30px;
}
#login_form .form-section span form .section span input {
  height: 40px;
  width: 100%;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#login_form .form-section span form .section span input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  margin-left: 20px;
}
#login_form .form-section span form .section span input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  margin-left: 20px;
}
#login_form .form-section span form .section span input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  margin-left: 20px;
}
#login_form .form-section span form .login-submit button {
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  white-space: nowrap;
  background-color: #04aa6d;
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
}

#navbar .navbar {
  background: linear-gradient(90deg, #06d77b, #009f53);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#navbar .navbar .container-fluid .navbar-brand {
  color: white;
}
#navbar .navbar .container-fluid .collapse ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
}
#navbar .navbar .container-fluid .collapse ul li {
  margin-left: 7px;
  margin-right: 7px;
  border: 1px solid white;
}
#navbar .navbar .container-fluid .collapse ul li a {
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

#registration_form {
  margin-top: 50px;
}
#registration_form .page-title {
  font-size: 22px;
  font-family: sans-serif;
  color: #2c3e50;
}
#registration_form .form-section {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}
#registration_form .form-section span form .section {
  margin-bottom: 20px;
}
#registration_form .form-section span form .section span input {
  height: 40px;
  width: 100%;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#registration_form .form-section span form .section span input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  margin-left: 20px;
}
#registration_form .form-section span form .section span input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  margin-left: 20px;
}
#registration_form .form-section span form .section span input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  margin-left: 20px;
}
#registration_form .form-section span form .login-submit button {
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  white-space: nowrap;
  background-color: #04aa6d;
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
}

#khoj_page {
  margin-top: 50px;
}
#khoj_page .page-title {
  font-size: 22px;
  font-family: sans-serif;
  color: #2c3e50;
}
#khoj_page .form-section {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#khoj_page .form-section span form .section {
  margin-bottom: 30px;
}
#khoj_page .form-section span form .section span input {
  height: 40px;
  width: 100%;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#khoj_page .form-section span form .section span input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  margin-left: 20px;
}
#khoj_page .form-section span form .section span input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  margin-left: 20px;
}
#khoj_page .form-section span form .section span input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  margin-left: 20px;
}
#khoj_page .form-section span form .login-submit button {
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  white-space: nowrap;
  background-color: #04aa6d;
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
}

/*# sourceMappingURL=style.css.map */
